@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    background-image: url('../assets/images/bg-img.jpg');
    background-size: 100%;

    color: var(--colorMagnolia);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
