.header {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--colorBurningSand);
    border-radius: 0 0 10px 10px;
    transition: all 0.8s ease-in-out;
    
    padding: 20px 30px;
}

.header__sounds {
    background-color: var(--colorPortage);
}