.settings-panel {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 30px;
    border-radius: 10px;
    transition: all 0.8s ease-in-out;
}

.sounds-color {
    background-color: var(--colorPortage);
}

.pomodoro-color {
    background-color: var(--colorBurningSand);
}
